.main{
    background-color: rgb(187, 186, 186);
    margin:0 auto;
    width: max-content;
    padding:2px 2px auto;
    overflow: hidden;
}
.row {
    height: max-content;
    margin: 0 2px auto;
    overflow: hidden;
}
#display1{
    margin: 1px 0;
    text-align: right;
    font-size: 18px;
    color: red;
    width: 270px;
    height: 18px;
}
#display2{
    background-color: azure;
    margin: 0px 2px auto;
    text-align: right;
    font-size: xx-large;
    width: 273px;
    height: 40px;
}
button {
    background-color: white;
    font-size: x-large;
    width: 70px;
    height: 70px;
    float: left;
}
button:hover {
    background-color: rgb(223, 246, 249);
}
button:active {
    background-color: rgb(68, 255, 90);
}