#clock{
    position: relative;
    margin: 0 auto;
    background: url('../img/clockFace.png') no-repeat;
    width: 316px;
    height: 316px;
}
#clock > #hh, #mh, #sh{
    position: absolute;
    transform-origin: bottom;
    background: #0099CC;
    border-radius: 7px;
    opacity: 1;
}
#clock > #hh{
    width: 12px;
    height: 90px;
    top: 68px;
    left: 152px;
}
#clock > #mh{
    width: 6px;
    height: 120px;
    top: 38px;
    left: 155px;
}
#clock > #sh{
    width: 2px;
    height: 130px;
    top: 29px;
    left: 157px;
    opacity: .3;
}
#clock > #meridiem{
    position: relative;
    margin: 0 auto;
    width: 10%;
    top: 200px;
    text-align: center;
}